body{
  text-align: center;
  background-color: #f6f6e9;
}

.intro{
  margin : auto;
  margin-bottom: 80px;
}

p{
  padding-left: 20%;
  padding-right: 20%;
}

div{
  margin-bottom: 80px;
}

.mapouter{
  margin: auto;
}
